.page {
  margin-top: 100px;
  text-align: center;
  justify-content: center;
}

.msg {
  margin-top: 40px;
  position: absolute;
  top: 250px;
  left: 5em;
  text-align: center;
  width: 100%;
  display: flex;
  justify-items: center;
}

/* .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    justify-content: flex-start;
    margin-top: 40px;
} */

/* .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 10px;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 100px;
} */

.cards {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

