.card{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 75px rgba(210, 213, 234, 0.45);
    padding:2rem;
    margin:3rem 2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: .6rem;
}

.data_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.data{
    display: flex;
    flex-direction: column;
}

.brand{
    font-style: normal;
    font-weight: 800;
}

.name{
    font-style: normal;
    color: #8A8A9D;
}

.price_section{
    display: flex;
    color: #3A63E0;
    font-weight: 700;
    align-items: center;
    font-size: 1.1rem;
}

.price{
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
}

.img{
    width: 80%;
    height: auto;
}

p{
    margin: 0;
}