.card {
    border: goldenrod 2px solid;
    border-radius: 10%;
    max-width: 500px;
    height: 350px;
    padding: 10px;
}

.name {
    height: 50px;
}

.color {
    height: 50px;
}

img {
    width: 100px;
    height: 100px;
}