.searchInputs {
	display: flex;
}

.search input {
	padding: 1rem;
	width: 20rem;
	height: 2.5rem;
	background: #f6f6f6;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

.searchIcon {
	margin-left: -33px;
	margin-top: 3px;
	height: 34px;
	background-color: #f6f6f6;
	display: grid;
	place-items: center;
}

input:focus {
	outline: none;
}
.searchIcon svg {
	font-size: 20px;
	cursor: pointer;
}

.search_button {
	display: none;
}
