.search {
  width: 100%;
}

.searchInputs {
	display: flex;
  width: 100%;
}

.search input {
	padding: 1rem;
  /* width: 100%;  */
  width: max(100%, 20rem);
  width: 20rem;
	height: 2.5rem;
	background: #f6f6f6;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

.searchIcon {
	margin-left: -33px;
	margin-top: 3px;
	height: 34px;
	background-color: transparent;
	display: grid;
	place-items: center;
}

input:focus {
	outline: none;
}
.searchIcon svg {
	font-size: 20px;
	cursor: pointer;
}

.search_button {
	display: none;
}

@media (max-width: 824px) {
  .search input {
    
    width: 17rem; 
    
  }
}

@media (max-width: 698px) {
  .search input {
    margin-left: 10px;
    width: 100%; 
  
  }
}