.card{
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 75px rgba(210, 213, 234, 0.45);
    padding:1rem;
    margin:1.5rem 2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: .6rem;
    overflow: hidden;
}

.container{
    display: flex;
    margin: auto 0;
}

.data_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: right;
}

.discount{
    margin: .5rem 0;
    justify-self: flex-end;
    text-align: end;
    width: 100%;
    color: #f84f4f;
    border-radius: .2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.data{
    display: flex;
    flex-direction: column;
}

.brand{
    font-style: normal;
    font-weight: 800;
}

.name{
    font-style: normal;
    color: #8A8A9D;
}

.price_section{
    display: flex;
    color: #3A63E0;
    font-weight: 700;
    align-items: center;
    font-size: 1.1rem;
}

.price{
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
}

.img{
    margin: auto;
    width: 30%;
    height: auto;
}

p{
    margin: 0;
}



.btn_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 68, 68, 0.754);
    color: whitesmoke;
    width: 2rem;
    height: 1.5rem;
    
    border-radius: 1rem;
    font-size: 1rem;
    transition: width 1s, background 1s;

}

.update{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 176, 36);
    color: whitesmoke;
    width: 2rem;
    height: 1.5rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    transition: width 1s, background 1s;

}
.delete:hover{
    width: 20%;
    background-color: rgb(255, 120, 120);

}

.update:hover{
    width: 20%;
    background-color: rgb(246, 198, 109);
}