.containerEnlaces {
	margin-top: 14px !important;
}

.enlaces {
	font-size: 17px;
}

.containerSearchProfile {
	margin-top: 14px !important;
}

.admin {
	border-radius: 50%;
	/* margin-top: 5px; */
  /* borde de color negro */
	border: solid 2px var(--negro); 
	width: 2.45rem;
	height: 2.45rem;
	cursor: pointer;
}

.cart {
	border: solid 2px var(--color1); 
	margin-top: 0.9rem;
}

.admin:hover {
	background-color: var(--color1);
	border: solid 2px var(--color1);
}

.admin svg {
	margin-left: 8px;
}

.zindex {
	z-index: 10;
}

.emailName {
	color: var(--color1);
	margin-left: 23px;
	font-weight: 600;
}

.letterName {
	background-color: var(--color2);
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

.letterName p {
	padding-top: 10px;
	font-weight: 500;
	color: white;
}

.greeting {
	color: var(--negro);
}

.signOut {
	text-decoration: underline;
	cursor: pointer;
}

.signOut:hover {
	color: #0d6efd;
}
