.detail{
    display: flex;
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
}

.left{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left img{
    width: 90%;
}

.rigth{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    height: 70%;
    justify-content: space-between ;
}

.brand{
    font-style: normal;
    font-weight: 700;
    color: #FB5014;
    font-size: 4.5rem;
}

.price{
    font-style: normal;
    font-weight: 230;
    font-size: 3rem;
    color: #000000;
}

.details{
    font-style: normal;
    font-weight: 600;

    color: #464646;
}

.sizes_title{
    font-weight: 800;
    font-size: .8rem;
    text-transform: uppercase;
    color: #131212;
}

.sizes{
    display: flex;
    flex-wrap: wrap;
}

.size{
    width: 3.5rem;
    height: 3.5rem;
    margin: .5rem;
    border: .1rem solid #d0cfcf;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: #000000;
    
}
.size:hover{
    border-color: #FB5014;
    color: #FB5014;
}

.subtitle{
    margin-top: 1rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    color: #FB5014;
}

.cont{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;

    color: #656565;
}

.addCart{
    margin-top: 2rem;
    height: 3.5rem;
    width: 15rem;
    color: white;
    background: #FB5014;
    border-radius: .5rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btn_container{
    align-self: flex-start;
}

.btn{
    display: flex;
    align-items: center;
}

.home{
    height: 4rem;
    width: 4rem;
    color: white;
    background: #FB5014;
    border-radius: 100%;
    border: none;
    font-size: 2rem;
}

.btn_title{
    margin-left: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #FB5014;
}