@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.App {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
  font-family: 'Montserrat', sans-serif;
}