@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap" rel="stylesheet"> */

:root {
	--color1: #fb5014;
	--color2: #17b4cc;
	--color3: #606366;
	--negro: #000000;
  --negro2: #0b2027;
  --blanco: #FFFFFF;
	--blanco2: #f6f1d1;
  --rojo: rgb(173, 42, 42);

	--secundario: #40798c;
	--terciario: #70a9a1;
	--cuatro: #cfd7c7;
	--cinco: #f6f1d1;

	--botones: #fb5014;
	--botonesSombraPulso: #6c2c1599;
	--negrotransparentado: #00000050;
}

html {
	box-sizing: border-box; /*para manejar mejor el box model*/
}

/*para manejar mejor el box model*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */