.admin_page{
    display: flex;
    height: 90vh;
    width: 100%;
    padding-top: 2rem;
}

.content{
    margin: 0 auto;
    width: 75%;
    height: 100%;
    overflow-x: none;
    padding: 1rem;
}

.btn{
    display: flex;
    justify-content: space-around;
}