/* .thad{

} */

.categories{
    padding-bottom: 2rem;
}

.tbody{
    border-top: solid red;
}

.table>:not(:first-child) {
    border-top: solid 1.5px var(--color1); 

}


.table th{
    text-align: center;
}
.delete{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 68, 68);
    color: whitesmoke;
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    transition: width 1s, background 1s;
}



.delete:hover{
    width: 30%;
    background-color: rgb(255, 120, 120);

}

.btnAdd{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 161, 0);
    color: whitesmoke;
    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
    font-size: 1rem;
    transition: width 1s, background 1s;
}

.btnAdd:hover{
    background-color: rgb(23, 129, 1);

}